body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('images/background.jpg') no-repeat center center/cover;
    background-attachment: fixed; /* Keeps the background steady while scrolling */
    background-blend-mode: multiply; /* Softens the background */
    background-color: rgba(10, 10, 25, 0.85); /* Dark overlay for better readability */
}

nav {
    background: #ff5733;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 50px 20px;
}

.hero img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.hero img:hover {
    transform: scale(1.05);
}

.welcome-message {
    background: url('images/bg-2.jpg') no-repeat center center/cover;
    background-attachment: fixed; /* Keeps the background steady while scrolling */
    background-blend-mode: multiply; /* Softens the background */
    background-color: rgba(138, 138, 157, 0.85); /* Dark overlay for better readability */
    color: white;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

.social-links a {
    color: #00bcd4;
    text-decoration: none;
    margin: 0 10px;
}

.social-links a:hover {
    text-decoration: underline;
}

.icon svg {
  fill: #00bcd4; /* Match the color theme */
  transition: transform 0.2s ease-in-out;
}

.icon svg:hover {
  transform: scale(1.2);
}

.social-links {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

#back-to-top {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #ff5733;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#music-toggle {
    position: absolute;
    left: 20px;
    bottom: 20px;
    background: #ff5733;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#back-to-top:hover, #music-toggle:hover{
    background: #c70039;
}

